<!DOCTYPE html>
<html>


<body class="w3-light-grey">
<div class="w3-content w3-margin-top" style="max-width:1400px;">
<div class="w3-row-padding">
<div class="w3-third">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--   Name, Contact Info, Skills, and Languages are in Header.HTML -->    

<!-- Photo, Name, Address, and Contact -->

<div class="w3-white w3-text-grey w3-card-4">
<div class="w3-display-container">
<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/122278695_3346888155393883_385643036819869023_o.jpg?_nc_cat=109&ccb=2&_nc_sid=8bfeb9&_nc_ohc=N45d2Q0IbMgAX9_U_83&_nc_ht=scontent-lga3-1.xx&oh=3a39f5f6a2bf83e327908c8e67389da2&oe=5FB7A88D" style="width:100%" alt="Avatar">
<div class="w3-display-bottomleft w3-container w3-text-black">
<h2 style="font-family:corbel;color:white">Muhammad Khan</h2>
</div>
</div>
<div class="w3-container">
  <br>
   <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>PEGA CSA / Full Stack Developer</p>
   <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Flushing, New York </p>
   <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>example@student.qcc.cuny.edu</p>
   <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>(646) 000-0000</p>
   <hr>

   <!--  Skill bars  --> 

   <br>
   <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-blue"></i>Skills</b></p>
   <p>Pega PRPC</p>
   <div class="w3-light-grey w3-round-xlarge w3-small">
   <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:100%">100%</div>
 </div>
  <p>HTML, CSS</p>
  <div class="w3-light-grey w3-round-xlarge w3-small">
  <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:90%">
  <div class="w3-center w3-text-white">90%</div>
  </div>
  </div>
  <p>SQL</p>
 <div class="w3-light-grey w3-round-xlarge w3-small">
 <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:80%">80%</div>
 </div>
  <p>TypeScript (Angular)</p>
 <div class="w3-light-grey w3-round-xlarge w3-small">
 <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:80%">80%</div>
 </div>
 <p>Python, GO (Programming Languages)</p>
 <div class="w3-light-grey w3-round-xlarge w3-small">
 <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:50%">50%</div>
 </div>
 <br>

 <!-- Language bars -->

 <br>
 <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-blue"></i>Languages</b></p>
 <p>English</p>
 <div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-blue" style="height:14px;width:100%"></div>
 </div>
 <p>Pashto</p>
 <div class="w3-light-grey w3-round-xlarge">
 <div class="w3-round-xlarge w3-blue" style="height:14px;width:90%"></div>
 </div>
 <p>Urdu / Hindi</p>
 <div class="w3-light-grey w3-round-xlarge">
 <div class="w3-round-xlarge w3-blue" style="height:14px;width:80%"></div>
 </div>
 <br>
 </div>
</div><br>

<!-- End Left Column -->
</div>

<div class="w3-twothird">


<!-- About me  -->

<div class="w3-container w3-card w3-white w3-margin-bottom">
 <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-male fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>About me</h2>
 <p style="font-weight: bold;">3 years of IT Industry experience including 2 plus years of experience in implementing PRPC Applications. Working experience with Case Management, User Interface, Data Transform, and Activity. Good understanding of OOTB Pega rules. Ruleset and Rule Resolution understanding and experience. Experience in using performance and debugging tools like, Clipboard, Tracer, Live UI, and Log Files. 
 <br> In addition to sections, I worked on building and designing webpages using HTML and CSS. Experience in using Angular to build a TypeScript-based web application framework, SQL, and JSON. Exposure to Python and Go programming languages. I am well adoptable to challenging environments, team player, and a fast learner.</p>

<!-- Experience Current  -->

 <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i> &nbsp;&nbsp;Work Experience</h2>
 <div class="w3-container">
 <h5 class="w3-opacity"><b>Front-End Developer at QCC, ET-710</b></h5>
 <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
 <p>Currently working on designing and building webpages and posting it on the web. I work on HTML, CSS, and TypeScript. In addition, experience in using Angular to build webpages on a TypeScript-based web application framework and JSON.</p>
 <hr>
 </div>

<!-- Past Experience  -->

 <div class="w3-container">
 <h5 class="w3-opacity"><b>System Architect at Verifone Mobility</b></h5>
 <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - Jun 2019</h6>
 <p>•&nbsp;&nbsp;&nbsp; Experience in enterprise infrastructure of finance industry<br>
 <p>•&nbsp;&nbsp;&nbsp; Worked on Case Management, User Interface, Decision Rules, Declarative Rules, Reporting and Integration<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Constantly monitor application performance using performance tools like tracer and live UI<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Design, build, and configure applications to meet business process and application requirements<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Designed and developed UI for the application by creating the Harness, Navigation rules, and Section rules as per requirements<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Hands-on experience with data transforms, applying it in the sections and setting default values throughout the case<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Designed Decision Tables to determine the user’s eligibility <br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Followed Pega best’s practices regarding process development<br>
 <br></p>
 <hr>
 </div>
</div>

<!-- The following code contains education info -->

<! -- Education -->

<div class="w3-container w3-card w3-white">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i> &nbsp;&nbsp;&nbsp;Education</h2>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Queensborough Community College</b></h5>
      <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Aug 2021</h6>
      <p>Associate in Internet & Information Technology</p>
       <hr>
    </div>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Code Academy</b></h5>
      <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
      <p>Web Developer</p>
      <hr>
   </div>
    <div class="w3-container">
     <h5 class="w3-opacity"><b>Pega Academy</b></h5>
     <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2018 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
     <p>System Architect</p><br>
   </div>
 </div>


<!-- End Right Column -->
</div>
    
<!-- End Grid -->
</div>
  
<!-- End Page Container -->
</div>

<!-- Footer component contains social media info -->
<footer class="w3-container w3-blue w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <a href="linkedin.com/in/muhammad-khan-21752a1a6" class="fa fa-linkedin w3-hover-opacity" [title]="'Click to view Muhammad\'\s LinkedIn profile'"></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  


 </footer>


</body>
</html>